---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import SimpleImageSlider from "react-simple-image-slider";
import Desc from "../components/Desc.astro";

const imgConfig = {
  href: [
    "https://neural-bird.netlify.app/",
    "https://github.com/godotengine/godot/pull/68625",
    "https://duetprosper-urbanjanet.codio.io/index.html",
  ],

  desc: [
    "Modified a neural network to be trained and executed on low resource hardware (Web browser & Meta Quest 2",
    "Adapted to a large scale project's codebase and added a requested feature",
    "Portfolio Website demonstrating different web development concepts",
  ],

  imgs: [
    "https://res.cloudinary.com/dpfu8nq5k/image/upload/v1696702230/Project-11/bird_vwmz9g.png",
    "https://res.cloudinary.com/dpfu8nq5k/image/upload/v1696702230/Project-11/gogot_vo1jvy.png",
    "https://res.cloudinary.com/dpfu8nq5k/image/upload/v1696702230/Project-11/p3_hs5bdc.png",
  ],
};

let index = 0;
let width = "70vw";
let height = "80vh";
---

<Layout title="Home">
  <div class="mt-10">
    <h1 class="text-4xl text-center">My Portfolio & Resume</h1>
    <div class="flex justify-center justify-evenly">
    </div>
    <svg class="w-2/3 m-2 mt-4 mx-auto opacity-10" width="100%" height="10" transition:name="hero">
      <line x1="5%" y1="5" x2="95%" y2="5" stroke="black" stroke-width="3"
      ></line>
    </svg>
    
  </div>
  <Desc text="Some of my projects"/>
  <Card title=""/>
  <div class="imgslider-container">
    <SimpleImageSlider
      width={width}
      height={height}
      images={imgConfig.imgs}
      showBullets={true}
      showNavs={true}
      client:visible
    />
    <p class="img-links">
      <a href={imgConfig.href[0]}>Neural Bird</a>
      <b> | </b>
      <a href={imgConfig.href[1]}>Godot github contribution</a>
      <b> | </b>
      <a href={imgConfig.href[2]}>Portfolio Website</a>
    </p>
  </div>
  <Card title=""/>
</Layout>

<style>


  line {
    stroke: var(--fg);
  }
  .img-links {
    text-align: center;
    margin-top: 20px;
  }

  .imgslider-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
